.add-topic-search ul  , .add-topic1-search ul{
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-sizing: border-box;
  color: #555;
  display: none;
  font-size: 14px;
  height: 144px;
  left: 12px;
  line-height: 1.42857;
  margin: 0;
  overflow-y: auto;
  padding: 6px;
  position: absolute;
  top: 33px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 187px;
  z-index: 9;
}

.add-topic-search ul li  , .add-topic1-search ul li{list-style:none; padding: 3px 4px 5px;
color: #858585; cursor:pointer}
.add-topic-search ul li:hover ,  , .add-topic1-search ul li:hover{
background-color: #eee;
color: #444;}

.add-tag-data p , .add-cat-dataa p {
  background-clip: padding-box;
  background-color: #eee;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-repeat: repeat-x;
  background-size: 100% 19px;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  cursor: default;
  line-height: 16px;
  margin: 6px 5px 3px 0;
  padding: 7px;
  position: relative;
  width: auto !important; float:left
}
span.tag-close {
  color: #000;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  margin-left: 12px;
}
.add-tag-data , .add-cat-dataa{width:385px;}

.add-cat-data p , .add-cat-dataa p {
  background-clip: padding-box;
  background-color: #eee;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-repeat: repeat-x;
  background-size: 100% 19px;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  cursor: default;
  line-height: 16px;
  margin: 6px 5px 3px 0;
  padding: 7px;
  position: relative;
  width: auto !important; float:left
}
span.cat-close {
  color: #000;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  margin-left: 12px;
}
.add-cat-data{width:385px;}
.footer-ad-left {
  width: 48%;
  float: left;
  text-align: left;
}
.footer-ad-right {
  float: right;
  width: 48%;
  text-align: right;
}
.navbar-brand img{ margin-right:10px;}